.home {
  display: flex;
  flex-direction: row;
  width: 70%;

  .nav-container {
    width: 100%;
    flex-wrap: wrap;

    .navigation {
      height: 100%;
    }
  }
  .link {
    display: inline-block;
    width: 50%;
    height: 30%;
    .circle {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: white;
      opacity: 0.5;
    }
  }
}
